repos:
  - repo: local
    hooks:
      - id: update-conflicts
        name: Copier update conflicts
        entry: ./scripts/check-update-conflicts
        language: system
        pass_filenames: false
{% if language in ["python", "python-typescript"] %}
      - id: ruff-format
        name: Ruff format
        entry: uv run ruff format --check
        language: system
        types: [python]
      - id: ruff
        name: Ruff
        entry: uv run ruff check
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        pass_filenames: false
{% endif %}
{% if language in ["typescript", "python-typescript"] %}
      - id: biome
        name: Biome
        entry: pnpm exec biome ci .
        language: system
        pass_filenames: false
      - id: typescript
        name: TypeScript
        entry: pnpm exec tsc --noEmit
        language: system
        pass_filenames: false
{% endif %}
      - id: gitleaks
        name: Gitleaks
        entry: ./scripts/scan-secrets
        language: system
        pass_filenames: false
