[package]
name = "{{ project_slug }}"
version = "0.1.0"
edition = "2024"
rust-version = "1.98"
description = {{ project_description | tojson }}
repository = {{ repository_url | tojson }}
readme = "README.md"

[dependencies]
