{
  "$schema": "https://raw.githubusercontent.com/googleapis/release-please/main/schemas/config.json",
  "release-type": "{% if language == 'ci' %}simple{% elif language == 'python' %}python{% else %}node{% endif %}",
  "packages": {
    ".": {
      "component": "{{ project_slug }}",
      "include-component-in-tag": false,
      "label": "enhancement",
      "release-label": "enhancement"{% if language in ["python", "python-typescript"] %},
      "extra-files": [
{% if language == "python-typescript" %}
        {
          "type": "toml",
          "path": "pyproject.toml",
          "jsonpath": "$.project.version"
        },
{% endif %}
        {
          "type": "toml",
          "path": "uv.lock",
          "jsonpath": "$.package[?(@.name.value==\"{{ project_slug }}\")].version"
        },
        {
          "type": "generic",
          "path": "src/{{ package_name }}/__init__.py"
        }
      ]{% endif %}
    }
  }
}
