from importlib.metadata import version

import pytest

from {{ package_name }} import __version__

pytestmark = pytest.mark.runtime


def test_version_matches_installed_distribution() -> None:
    assert __version__ == version("{{ project_slug }}")
